<nav aria-label="..." class="pagination-block">
  <ul class="pagination">
    <li class="page-item disabled" (click)="goToPreviousPage()">
      <a class="page-link">Previous</a>
    </li>

    <ul class="pagination" *ngFor="let page of pages">
      <li class="page-item" [class.active]="getPageState(page)" (click)="choosePage(page)">
        <a class="page-link">{{page}}</a>
      </li>
    </ul>

    <li class="page-item disabled" (click)="goToNextPage()">
      <a class="page-link">Next</a>
    </li>
  </ul>
</nav>